ClientTRICLib/ClientTRICLib/Web References/wsIntegration/ServiceIntegrator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceIntegrator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IServiceIntegrator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsintegrator.Data" />
      <xsd:import schemaLocation="https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc?xsd=xsd5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceIntegrator_GetOperations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperations" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_GetOperations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_GetOperationParams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationParams" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_GetOperationParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_OperationByIdInvoke_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationByIdInvoke" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_OperationByIdInvoke_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationByIdInvokeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_OperationByNameInvoke_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationByNameInvoke" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_OperationByNameInvoke_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationByNameInvokeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_GetAuthorizationTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationTicket" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrator_GetAuthorizationTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceIntegrator">
    <wsdl:operation name="GetOperations">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrator/GetOperations" message="tns:IServiceIntegrator_GetOperations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrator/GetOperationsResponse" message="tns:IServiceIntegrator_GetOperations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrator/GetOperationParams" message="tns:IServiceIntegrator_GetOperationParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrator/GetOperationParamsResponse" message="tns:IServiceIntegrator_GetOperationParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationByIdInvoke">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrator/OperationByIdInvoke" message="tns:IServiceIntegrator_OperationByIdInvoke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrator/OperationByIdInvokeResponse" message="tns:IServiceIntegrator_OperationByIdInvoke_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationByNameInvoke">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrator/OperationByNameInvoke" message="tns:IServiceIntegrator_OperationByNameInvoke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrator/OperationByNameInvokeResponse" message="tns:IServiceIntegrator_OperationByNameInvoke_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrator/GetAuthorizationTicket" message="tns:IServiceIntegrator_GetAuthorizationTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrator/GetAuthorizationTicketResponse" message="tns:IServiceIntegrator_GetAuthorizationTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceIntegrator" type="tns:IServiceIntegrator">
    <wsp:PolicyReference URI="#BasicHttpBinding_IServiceIntegrator_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOperations">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrator/GetOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationParams">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrator/GetOperationParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationByIdInvoke">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrator/OperationByIdInvoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationByNameInvoke">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrator/OperationByNameInvoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationTicket">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrator/GetAuthorizationTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceIntegrator">
    <wsdl:port name="BasicHttpBinding_IServiceIntegrator" binding="tns:BasicHttpBinding_IServiceIntegrator">
      <soap:address location="https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>